openapi: 3.0.3
info:
  title: Barkbin
  description: API definition for Barkbin
  version: 0.1.0
servers:
  - url: https://barkbin.org
  - url: https://127.0.0.1
  
paths:
  /api/pastes/create:
    post:
      summary: Create a new paste
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponse'
        '400':
          description: Invalid request
  /api/pastes/get/{id}:
    get:
      summary: Get a paste by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: "5NGjBokyQIPSxGd6uSiro"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetResponse'
        '404':
          description: Not found
  /api/metrics:
    get:
      summary: Return metrics in prometheus format
      responses:
        '200':
          description: Sucess
          content:
            application/text:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
  
          
components:
  schemas:
    CreateRequest:
      type: object
      properties:
        paste:
          type: string
          example: "Hello World!"
    CreateResponse:
      type: object
      properties:
        id:
          type: string
          example: "5NGjBokyQIPSxGd6uSiro"
    GetResponse:
      type: object
      properties:
        id:
          type: string
          example: "5NGjBokyQIPSxGd6uSiro"
        paste:
          type: string
          example: "Hello World!"
    MetricsResponse:
      type: string